body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5; /* Optional background color for preloader visibility */
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Ensure preloader stays on top */
    background-color: #fff; /* Optional background color for preloader */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    padding: 20px;
}
