@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --card-border-radius: 1rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;
  --color-light: rgba(132, 139, 200, 0.18);

  --card-padding: 1.2rem;
  --card-width:400px;
  --padding-1: 1.2rem;


  --box-shadow: 0 2rem 3rem var(--color-light);
}
*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  background-color: #f5f5f5; /* Optional background color for preloader visibility */
}

.container{
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: auto 1fr auto;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
}
main .parameter h3 > .mesure{
  color: #ff0000;
  /* display: inline-block; 
  padding: 2px 5px; 
  background-color: rgb(255, 0, 0); 
  opacity: 0.5; 
  border-radius: 0.5rem;
  margin-left: 3px; */
}

h3{
  font-weight: 300;
  font-size: 1.2rem;
  
}

h2{
  font-weight: 600;
  font-size: 1.4rem;
  padding-bottom: 20px;
}

main{
  margin-top: 1.4rem;

}

main #logo{
  /* left: 20px;
  padding: 10px; */
  font-size: 40pt;
  text-decoration: none;
  color: #84b228;
  font-family: Lemon;

}




main .parameter{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

main .parameter >div{
  background-color: white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  width: var(--card-width);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  cursor: default;
  transition: all 0.3s ease;
}

main .parameter >div .status{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .parameter h1{
  margin-left: 130px;
  font-size: 32pt;
  
}


main .button {
  cursor: pointer;
 font-weight: 700;
 font-family: Helvetica,"sans-serif";
 transition: all .2s;
 padding: 10px 20px;
 border-radius: 100px;
 background: #84b228;
 border: 1px solid #84b228;
 display: flex;
 align-items: center;
 font-size: 15px;
}

.button .text {
 color: white;
 font-weight: 700;
 font-size: 1em;
 transition: 400ms;
}

.button svg path {
 transition: 400ms;
}

.button:hover {
 background-color: transparent;
}

.button:hover .text {
 color: #84b228;
}

.button:hover svg path {
 fill: #84b228;
 
}

button > svg {
 width: 34px;
 margin-left: 5px;
 transition: transform .3s ease-in-out;
}

main .plantation-map{
  margin-top: 1.3rem;
}

main .plantation-map h2{
  margin-bottom: 0.8rem;
}

main .plantation-map table{
  background-color: white;
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease;

}

main table tbody td{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  

}

main table tbody tr:last-child td{
  border: none;

}