body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5; /* Optional background color for preloader visibility */
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 10px;
  font-family: Lemon; 
  font-size: 30pt;  
  text-decoration: none;
  color: #84b228; 
}

.logo a {
  color: #84b228; 
  text-decoration: none;
}
